body {
  background-color: purple;
  font-family: arial;
  font-size: 14px;
  background-image: url("images/blue-snow.png");
  background-repeat: repeat;
}

h1, h3 {
  color: blue;
  font-size: 24px;
  text-align: center;
}

.banner {
  height: 200px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: center;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: yellow;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
}


.recipe {
  max-width: 1400px;
  /* height: 100px; */
  margin: 0 auto;
  background-color: white;
  background-image: url("images/blue-snow.png");
  display: grid;
  grid-template-colums: 400px 800px;
  align-items: start;
  justify-content: space-between;
}

.recipe1 {
  max-width: 500px;
}

img {
  width: 400px;
  height: 300px
}

p {
  padding: 30px;
}
